* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}
/*.dash-container {*/
/*    display: flex;*/
/*    flex-flow: row wrap;*/
/*    justify-content: space-between;*/
/*}*/

.card {
    flex-grow: 1;
    position: relative;
    background: #e0e0e0;
    width: 450px;
    height: 350px;
    overflow: hidden;
    margin: 0.675rem;
}

.card-header {
    text-align: center;
    margin: 0.675rem;
}

.card-footer {
    margin: 0.675rem;
}